.plus_btn{
    background-color: #FF851C ;
    color:#ffffff;
    position: fixed;
    bottom: 40px;
    right: 46px;
    border-radius: 50%;
    border:none;
    font-size: 35px;
    font-weight: 100;
    width: 52px;
    height: 52px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    cursor: pointer;
    
}
.plus_btn:active{
    filter: blur(4px);
}