.CardList {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: flex-start;
}

.info {
  text-align: center;
  margin-top: 30px;
  font-size: 22px;
}

@media screen and (max-width: 530px) {
  .CardList {
    padding-left: 30px;
  }
}
