.CardList {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.info {
  text-align: center;
  margin-top: 30px;
  font-size: 22px;
}
.quests__wrapper{
  margin-top: 25px;
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  background-color:#F2F3F7;
  justify-content: center;
  align-items: center;
}
.quests__wrapper p{
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
  color:#282828;
}
@media screen and (max-width: 530px) {
  .CardList {
    padding-left: 30px;
  }
}
