li {
  list-style: none;
}

.CardItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  width: 205px;
  height: 199px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 15px;
  padding: 21px;
  background: #fff;
  box-shadow: -3px -4px 4px rgba(21, 57, 90, 0.03),
    3px 4px 4px rgba(21, 57, 90, 0.03);
  border-radius: 10px;
  background-image: url(../../images/toDoTask/award.png);
  background-repeat: no-repeat;
  background-position: center;
}

.CardItem:hover {
  -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.completed__upper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 140px;
  margin-left: auto;
  margin-right:auto;
}

.completed__name,
.completed__title{
  font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 11px;
}

.completed__name{
  text-transform: uppercase;
  color: #000000;
  margin-right: 3px;
}

.completed__title {
  text-decoration-line: underline;
  color: #00D7FF;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.continue__button {
  border: none;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.continue__button:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.continue__button::after {
  content: url(/src/icons/continue-arrow.svg);
  display: block;
  padding-left: 5px;

}

.continue__text {
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #B9C3C8;
}

@media screen and (max-width: 530px) {

  .CardItem {
    min-width: 260px;
    max-width: 290px;
    height: 260px;
  }

    .completed__upper {
      margin-bottom: 180px;
    }
  
    .completed__name,
    .completed__title {
      font-size: 15px;
      line-height: 13px;
    }
  
    .completed__name {
      margin-right: 4px;
    }
     
    .continue__button::after {
      padding-left: 6px;
    }
  
    .continue__text {
      font-size: 16px;
      line-height: 14px;
    }
}