.landing {
  width: 100%;
  height: 100vh;
  background: url(../../images/landing/mobile/landingMB.png) no-repeat,
    url(../../images/landing/mobile/landingMG.png) no-repeat;
  background-position: bottom -3% right -5%;
  background-size: contain;
}

.position {
  padding-top: 60px;
}

.title {
  color: #00d7ff;
  font-family: "HelveticaNeueCyr-bold";
  font-size: 24px;
  padding-bottom: 70px;
  font-weight: 700;
  font-style: bold;
}

.about {
  font-family: "HelveticaNeueCyr-bold";
  font-size: 18px;
  padding-bottom: 30px;
  font-weight: 700;
  font-style: bold;
  width: 280px;
  height: 85px;
}

.form__desc {
  color: #b9c3c8;
  font-family: "HelveticaNeueCyr-light";
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}

.spacer {
  padding-bottom: 30px;
  line-height: 45px;
}

.spacer__email {
  line-height: 18px;
  padding-bottom: 20px;
}

.spacer__password {
  line-height: 18px;
  padding-bottom: 25px;
}

.input {
  color: #00d7ff;
  border: none;
  border-bottom: 1px solid #00d7ff;
  width: 100%;
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.input::placeholder {
  color: #00d7ff;
}

@media screen and (min-width: 530px) {
  .landing {
    height: 100vh;
    background: url(../../images/landing/tablet/landingT4.png) no-repeat 100% 0%;
  }
  .position {
    padding-top: 310px;
  }
  .title {
    font-size: 20px;
  }
  .about {
    width: 375px;
    height: 100px;
    font-size: 24px;
  }
  .form__desc {
    font-size: 18px;
  }
  .input {
    width: auto;
  }
}

@media screen and (min-width: 1024px) {
  .landing {
    height: 100vh;
    background: url(../../images/landing/desktop/landingD4.png) no-repeat 100%
      100%;
    background-size: contain;
  }
  .position {
    padding-top: 195px;
    padding-left: 160px;
  }
  .about {
    font-size: 34px;
    width: 560px;
    height: 135px;
  }
  .form__desc {
    font-size: 24px;
  }
}
